.content{
    margin-top: 20px;
    padding-top: 100px;
    
    background-image: url("assets/css/images/laptop-1071781_1280.jpg");
    border: 2px solid black;
    width: 100%;
    /* height: */
    
}




.content{
    background-image: url(assets/css/images/laptop-1071781_1280.jpg) !important;
    
}

.content, .home-name, .home-infos table{
    text-align: center;
    margin: 0 auto;
    
    text-align: justify;
}

.home-name {
    text-align: center;
}

.home-name p{
    font-size: 1.3rem;
    margin: 10pxpx;
}






.home-name h2{
    margin: 15px;
    font-size: 3rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}



.home-infos table{
    margin-top: 0;
}

.home-infos table th{
    
    padding: 10px;
    font-size: 1.2rem;
}